################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataAccess/obj
/MediKeeperAPI/bin/Debug/netcoreapp2.1
/MediKeeperAPI/obj
/DataAccess/bin/Debug/netcoreapp2.1
/DataAccess/bin
/MediKeeperAPI/bin
